.autocomplete-result {
    cursor: pointer;
    padding: 5px;
    color: #667380;
    width: 100%;
}

.autocomplete-result:hover {
      background-color: #43bfbf; 
      width: 97.4%;
      color:#fafcfb;
}
  
  .autocomplete-results {
    position: inherit;
    background-color: #d3d3d3;
    z-index: 100;
    margin-top: -10px;
    border-radius: 0px 0px 3px 3px;
    -webkit-box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
    -moz-box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
    box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
 }

body  {
    max-width: 90%;
    background-color: #f4f4f4;
    margin: auto;
}

.container  {
    width: 100%;
    min-height: 150px;
    background-color: #d3d3d3;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    margin-top: 35px;
    border-radius: 20px;
}

form  {
    width: 50%;
    background-color: #fafcfb;
    padding: 30px;
    margin-left: 3%;
    font-family: 'Catamaran', sans-serif;
    border-radius: 20px;
    -webkit-box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
    -moz-box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
    box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);

}

.main   {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
}

.input  {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #8c959e;
}

.inputText  {
    width: 97%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #667380;
    font-size: 16px;
    font-family: 'Catamaran', sans-serif;
}

#label  {
    color: #667380;
}

.inputBody  {
    padding: 5px;
}

.heading {
    color: #1a3066;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    padding: 30px;
}

.heading1 {
    color: #1a3066;
    font-family: 'Catamaran', sans-serif;
    text-align: left;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 10px;
}

#save-flight {
    background-color: #43bfbf;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
    border-radius: 45px;
    -webkit-box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
    -moz-box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
    box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    color: #fafcfb;
    font-size: 16px;
    font-weight: 600;
    border-width: 0;
    cursor: pointer;
}

#loggedFlight {
    width: 29%;
    background-color: #fafcfb;
    padding: 15px;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 15px;
    font-family: 'Catamaran', sans-serif;
    border-radius: 20px;
    -webkit-box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
    -moz-box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
    box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
}

#save-flight:hover {
    background-color: #4dcccc;
}

#flight {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

#planeGif {
    width: 130px;
}

#flightRoute {
    color: #1a3066;
    font-size: 16px;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
}

#CO2amount {
    color: #667380;
    font-size: 12px;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
}

#flightBox {
    display: flex;
    flex-direction: row;
}

#flightText {
    margin-top: 35px;
    margin-right: 50px;
}

#offset-flight {
    background-color: #43bfbf;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    border-radius: 45px;
    -webkit-box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
    -moz-box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
    box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    color: #fafcfb;
    font-size: 14px;
    font-weight: 600;
    border-width: 0;
}

#offset-flight:hover {
    background-color: #4dcccc;
}

#close {
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.s-hidden {
    visibility:hidden;
    padding-right:10px;
}
.select {
    cursor:pointer;
    display:inline-block;
    position:relative;
    font-family: 'Catamaran', sans-serif;
    columns: #667380;;
    border:1px solid #667380;
    border-radius: 1px;
    width: 100%;
    color: #667380;
}
.styledSelect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:white;
    padding:0 10px;
}
.styledSelect:after {
    content:"";
    width:0;
    height:0;
    border:5px solid transparent;
    border-color:#667380 transparent transparent transparent;
    position:absolute;
    top:9px;
    right:6px;
}
.styledSelect:active, .styledSelect.active {
    background-color:#eee;
}
.options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:999;
    margin:0 0;
    padding:0 0;
    list-style:none;
    border:1px solid #ccc;
    background-color:#d3d3d3;
    border-radius: 0px 0px 3px 3px;
    -webkit-box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
    -moz-box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
    box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
}

.options li {
    padding:0 6px;
    margin:0 0;
    padding:0 10px;
}
.options li:hover {
    background-color:#43bfbf;
    color:#fafcfb;
}

#intro  {
    width: 45%;
    margin-top: ;
}

#accordion  {
    color: #667380;
    font-family: 'Catamaran', sans-serif;
    width: 100%;
    border-radius: 20px;
}

#accordion .ui-accordion-content {
    width: 100%;
    background-color: #fafcfb;
    color: #667380;
    font-size: 14px;
}

p {
    width: 95%;
    padding-left: 5px;
    padding-right: 5px;
}

/* #accordion .ui-accordion-content > * {
    margin: 0;
    padding: 20px;
  } */

  /* #accordion .ui-accordion-content a {
    color: #43bfbf;
  } */

  #accordion .ui-accordion-header {
    background-color: #8c959e;
    color: #fafcfb;
    font-weight: 600;
    margin: 0px;
    padding-left: 5px;
}

#accordion .ui-accordion-header a {
    color: #fff;
    line-height: 42px;
    display: block;
    font-size: 12pt;
    width: 100%;
    text-indent: 10px;
}

#accordion .ui-accordion-header a {
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(250, 250, 250, .2);
}

